### Github workflow for local test and development 
### act -W .\.github\workflows\test.yml -v -s GITHUB_TOKEN=##################
name: Test action-deployment

on: push

env:
 DEPLOYMENT_ENVIRONMENT: dev
jobs:
  my-deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: 'action-helper'

      - name: Checkout Github
        uses: actions/checkout@v2
        
      - uses: ./setup
        name: deploy
        id: deploy
        with:
          githubref: refs/tags/v1.1.199-feat.9
          environment: ${{ env.DEPLOYMENT_ENVIRONMENT }}
          services: |
            [
              {
                "name": "Tfso-Worker-ProfileRequest",
                "datadog": "/worker/i",
                "port": "",
                "http-endpoint": "",
                "env-prefix-remapper": "ENV_WORKER_"
              },
              {
                "name": "Tfso-Api-ProfileRequest",
                "datadog": "/api/i",
                "port": "5000",
                "http-endpoint": "profilerequest.api2.24sevenoffice.com",
                "env-prefix-remapper": "ENV_API_"
              }
            ]

      - name: output
        run: |
          echo "Version: $version"
          echo "Prerelease: $prerelease"
          echo "Environment: $environment"
          echo "Services: $services"


        env:
         test: ${{ steps.deploy.outputs.test }}
         version: ${{ steps.deploy.outputs.version }}
         services: ${{ steps.deploy.outputs.services }}
         prerelease: ${{ steps.deploy.outputs.prerelease }}
         environment: ${{ steps.deploy.outputs.environment }}